.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height:12vh;
}

.App-link {
  color: #61dafb;
}

.header h1 {
  margin-left: 1rem;
}

.header img {
  margin: 1rem;
  max-height: 10vh;
}

.leaflet-container {
  height: 88vh;
}

.leaflet-marker-icon {
  height: 10rem;
  width: 10rem;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border:none;
  background-color: #fb6161;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}
