.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  height: 100vh;
}

.leaflet-marker-icon {
  height: 10rem;
  width: 10rem;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border:none;
  background-color: #fb6161;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}